:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --logo-color: #4d5ae5;
  --btn-fon: #404bbf;
  --fon-color: #ffffff;
  --team-color: #f4f4fd;
  --end-name: #e7e9fc;
}

.a {
  text-decoration: none;
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

.img {
  display: block;
  min-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.solutions-for-bisiness {
}

.conteiner {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* --------------heder----------- */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-navigation {
  display: flex;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-right: 76px;
  margin-left: auto;
}
.header-logoone {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-item {
  margin-left: 40px;
}
.header-link {
  font-family: inherit, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-link.current {
  color: var(--btn-fon);
}
.header-contakt {
  display: flex;
  }
.header-hookup {
  display: flex;
}
.header-mail {
  font-family: inherit, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-tel {
  font-family: inherit, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  
  margin-right: auto;
}
.header-item :hover,
.header-item :focus {
  color: var(--btn-fon);
}
.header-item :active {
  color: var(--btn-fon);
}

/* -----------event------------ */
.event {
  background: var(--title-color);
  padding-top: 188px;
  padding-bottom: 188px;
}
.event-conteiner {
  max-width: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.event-title {
  font-family: inherit, sans-serif;
  font-size: 56px;
  line-height: 1, 07;
  letter-spacing: 0.02em;
  color: var(--fon-color);
  margin-bottom: 48px;
}
.event-btr {
  padding: 16px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  background-color: var(--logo-color);
  color: var(--fon-color);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
}

.event-btr:hover,
.event-btr:focus {
  background: var(--btn-fon);
}

/* -------------info-------------- */
.info {
  padding-top: 120px;
  padding-bottom: 120px;
}
.info-conteiner {
}
.info-list {
  display: flex;
  gap: 24px;
}
.info-item {
  width: calc((100%-72px) / 3);
}
.info-title {
  font-family: inherit, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.info-after-title {
  font-family: inherit, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* -------------gadgets-------------- */

.gadgets {
  padding-top: 120px;
  padding-bottom: 120px;
}
.gadgets-title {
  font-family: inherit, sans-serif;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
  text-align: center;
}

.gadgets-list {
  display: flex;
  gap: 24px;
}
.gadgets-item {
  width: ((100% - 48px)/3);
}
/* -------------team-------------- */
.team {
  background: var(--team-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-family: inherit, sans-serif;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-bottom: 72px;
  text-align: center;
}
.team-list {
  display: flex;
  gap: 24px;
}
.list {
}
.team-item {
  background-color: var(--fon-color);
  text-align: center;
}
.team-text {
  padding: 32px 16px;
}

.team-name {
  font-family: inherit, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.team-skill {
  font-family: inherit, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* -------------footer-------------- */
.footer {
  background: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-conteiner {
  display: flex;
  max-width: 264px;
  margin-left: 156px;
  flex-wrap: wrap;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--team-color);
  margin-bottom: 16px;
}
.footer-logoone {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--end-name);
}

/* -------------button-------------- */
.button {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.button-menu {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-menu:hover,
.button-menu:focus {
  background-color: var(--btn-fon);
  color: var(--fon-color);
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.foto {
  padding-top: 96px;
  padding-bottom: 120px;
}
.foto-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.list {
}
.foto-item {
}
.foto-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.foto-name {
  font-family: inherit, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.foto-skill {
  font-family: inherit, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
